<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447147831350-5570to0rmkbanl1lagsmb116tpie8hsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447147831350-5570to0rmkbanl1lagsmb116tpie8hsk</string>
	<key>API_KEY</key>
	<string>AIzaSyCTR5KxLBPr4S3Z8z3zQFQ6jNJjVkxv_x8</string>
	<key>GCM_SENDER_ID</key>
	<string>447147831350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.dinosoft.jobTimer</string>
	<key>PROJECT_ID</key>
	<string>estudos-firebase-ee26b</string>
	<key>STORAGE_BUCKET</key>
	<string>estudos-firebase-ee26b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447147831350:ios:ae8f3dd99984b6b09c6897</string>
	<key>DATABASE_URL</key>
	<string>https://estudos-firebase-ee26b-default-rtdb.firebaseio.com</string>
</dict>
</plist>